* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    background: white;
    width: 600px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 22px rgba(0,0,0,0.12);
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    margin-top: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.task-input, .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.task-input input,
.task-input select,
.filters input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

ul {
    list-style: none;
}

.task-item {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.task-item button {
    margin-top: 6px;
    margin-right: 5px;
    padding: 5px 8px;
    font-size: 12px;
}

.complete-btn { background-color: #3498db; }
.edit-btn { background-color: #f39c12; }
.delete-btn { background-color: #e74c3c; }

.completed {
    text-decoration: line-through;
    opacity: 0.6;
    background-color: #eeeeee;
}

#backBtn {
    background-color: #555;
    margin-top: 15px;
}

.subject-list li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}


.subject-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.subject-delete {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}


.progress-bar {
    background-color: #ddd;
    border-radius: 5px;
    height: 8px;
    margin-top: 6px;
    overflow: hidden;
}

.progress {
    background-color: #4CAF50;
    height: 100%;
    width: 0%;
}
.logout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

